<div class="bodyDiv">
@model IReadOnlyList<FeedbackBot.Controllers.HomeController.issuesContainer>
    @{
        ViewData["Title"] = "Home Page";
        <h3 class="pageTitle">@ViewData["Message"]</h3>
    }

    <div id="newIssueBox" >
        @using (Html.BeginForm("createIssue", "Home",
                        new { appName = @ViewData["AppName"] }))
        {
            <div class="user">
              <p class = "user_name"></p>
            </div>
            <input type="text" id="title-input" placeholder="Title" name="title" />
            <textarea placeholder="Type a new feedback" id="descriptionTextBox" type="text" name="description"></textarea>
            <input type="hidden" name="appName" value="@ViewData["AppName"]" style="display:none;" /><br />
            <br>
            <button type="submit">Submit</button>
        }
    </div>

        @foreach (var issue in Model)
        {
            <div class="issueCard">
                <div class="leftCard">
                  <!-- <img class= "leftCols"  src="~/media/lefthand.svg" alt=""> -->
                </div>
                <div class="rightCard">
                    <h3 class="title">@issue.title</h3>
                    <div class="user">
                      <div class="userWritten">
                        <p class = "user_name">by @issue.author</p>
                        <!-- should also include date/time stamp -->
                      </div>
                    </div>
                    <div class="border-wrap">
                      <div class="  description">
                      </div>
                        <span>@issue.body</span><br />
                      </div>

                    <div class="vote">
                    <p><b>Upvoted by:</b>
                    @issue.stringOfVoters</p>

                    <div class="voteButton">
                    @using (Html.BeginForm("vote", "Home"))
                    {
                    <input class="voteID" name="voteID" value="@issue.number" type="hidden" />
                    <input name="appName" value="@ViewData["AppName"]" type="hidden" />
                    <input type="submit" class="buttonID" value="@issue.voteState" id="@issue.number" />
                    }
                    <p class="voteNum"> | </p>
                    <p class="voteNum">@issue.numOfVotes</p>
                    </div>
                    <a href="/issues/@ViewData["AppName"]/@issue.number">comments</a>
                    </div>
                </div>
            </div>
        }
</div>
