

@model IReadOnlyList<FeedbackBot.Controllers.HomeController.issuesContainer>
@{
    ViewData["Title"] = "Home Page";
    <h3>@ViewData["Message"]</h3>
}

<div>
    <div id="newIssueBox">
        <h4>Submit New Feedback</h4>
        @using (Html.BeginForm("createIssue", "Home",
                        new { appName = @ViewData["AppName"] }))
        {
            <b>Title:</b><input type="text" name="title" /><br />
            <b>Description:</b><input id="descriptionTextBox" type="text" name="description" /><br />
            <input type="hidden" name="appName" value="@ViewData["AppName"]" style="display:none;" /><br />
            <input type="submit" />
        }
    </div>

    @foreach (var issue in Model)
    {
        <div class="issueCard">
            <div class="leftCard">
                <div class="voteBox">
                    <p>@issue.numOfVotes</p>
                </div>
                <div class="voteButton">
                    @using (Html.BeginForm("vote", "Home"))
                    {
                        <input class="voteID" name="voteID" value="@issue.number" type="hidden" />
                        <input name="appName" value="@ViewData["AppName"]" type="hidden" />
                        <input type="submit" value="@issue.voteState" id="@issue.number" />
                    }
                </div>
            </div>
            <div class="rightCard">
                <p class="title">@issue.title</p>
                <div class="description">
                    <span>@issue.body</span><br />
                    <span><b>Author: </b>@issue.author</span><br />
                    <span><b>Voters: </b>@issue.stringOfVoters</span>
                </div>
                <div><a href="/issues/@ViewData["AppName"]/@issue.number">View Comments</a></div>
            </div>
        </div>
    }
</div>
