@model FeedbackBot.Controllers.HomeController.issueDetailsViewModel

@{
    ViewData["Title"] = "Issue";
}
<h3>@ViewData["Message"]</h3>


<div class="commentWrapper">
<div id="newIssueBox">
    <div class="commentIssue">
<div class="leftCard">
  <!-- <img class= "leftCols"  src="~/media/lefthand.svg" alt=""> -->
</div>
<div class="rightCard">
    <h3 class="title">@Model.issue.title</h3>

      <div class="description">
      <div class="user">
        <div class="userWritten">
          <p class = "user_name">by @Model.issue.author</p>
<br />

@if(Model.voteMessage != null)
{
    <div>@Model.voteMessage</div>
}

<div id="newIssueBox">
    <div class="issueCard">
        <div class="leftCard">
            <div class="voteBox">
                <p>@Model.issue.numOfVotes</p>
            </div>
            <div class="voteButton">
                @using (Html.BeginForm("vote", "Home"))
                {
                    <input type="text" class="voteID" name="voteID" value="@Model.issue.number" style="display:none;" />
                    <input type="text" name="appName" value="@ViewData["AppName"]" style="display:none;" />
                    <input type="submit" value="@Model.issue.voteState" id="@Model.issue.number" />
                }
            </div>
        </div>
        <div class="rightCard">
            <p class="title">@Model.issue.title</p>
            <div class="description">
                <span>@Model.issue.body</span><br />
                <span><b>Author: </b>@Model.issue.author</span><br />
                <span><b>Voters: </b>@Model.issue.stringOfVoters</span>
            </div>
        </div>
      </div>
      <div class="border-wrap">
        <span>@Model.issue.body</span><br />
      </div>
      </div>

    <div class="vote">
    <p><b>Upvoted by:</b>
    @Model.issue.stringOfVoters</p>
    <br>
    <div class="voteButton">
    @using (Html.BeginForm("vote", "Home"))
    {
        <input type="text" class="voteID" name="voteID" value="@Model.issue.number" style="display:none;" />
        <input type="submit" class="buttonID" value="@Model.issue.voteState" id="@Model.issue.number" />
    }
    <p class="voteNum"> | </p>
    <p class="voteNum">@Model.issue.numOfVotes</p>
    </div>
    </div>
</div>
</div>
</div>
</div>
<div id="newCommentBox">
    <h4>Submit New Comment</h4><br />
    <div class="commentCard">
        @using (Html.BeginForm("addComment", "Home"))
        {
          <textarea placeholder="Type your comment here" id="descriptionTextBoxComment" type="text" name="comment" value="@Model.issue.number"></textarea> <br>
          <button type="submit" id="@Model.issue.number">Submit</button>
            <input type="text" class="voteID" name="voteID" value="@Model.issue.number" style="display:none;" /><br />
            <input type="text" name="appName" value="@ViewData["AppName"]" style="display:none;" /><br />
        }
    </div>
</div>

<div class="currentComment">
   @foreach (var issue in Model.comments)
   {
    <div id="newIssueBox">
        <div class="issueComment">
            <div class="rightCard">
                <div><b>Date Created: </b> @issue.createDate</div><br />
                <div><b>Comment: </b>@issue.body</div><br />
                <div><b>Author: </b>@issue.author</div><br /><br />
            </div>
         </div>
    </div>
    }
<br />
</div>
