@model FeedbackBot.Controllers.HomeController.issueDetailsViewModel

@{
    ViewData["Title"] = "Issue";
}
<h3>@ViewData["Message"]</h3>
<br />
<div id="newIssueBox">
    <div class="issueCard">
        <div class="leftCard">
            <div class="voteBox">
                <p>@Model.issue.numOfVotes</p>

            </div>
            <div class="voteButton">
                @using (Html.BeginForm("vote", "Home"))
                {
                    <input type="text" class="voteID" name="voteID" value="@Model.issue.number" style="display:none;" />
                    <input type="text" name="appName" value="@ViewData["AppName"]" style="display:none;" />
                    <input type="submit" value="@Model.issue.voteState" id="@Model.issue.number" />
                }
            </div>
        </div>
        <div class="rightCard">
            <p class="title">@Model.issue.title</p>
            <div class="description">
                <span>@Model.issue.body</span><br />
                <span><b>Author: </b>@Model.issue.author</span><br />
                <span><b>Voters: </b>@Model.issue.stringOfVoters</span>
            </div>
        </div>
    </div>
</div>

<div id="newIssueBox">
    <h4>Submit New Comment</h4><br />
    <div class="issueCard">
        @using (Html.BeginForm("addComment", "Home"))
        {
            <b>Comment:</b><input type="text" name="comment" /><br />
            <input type="text" class="voteID" name="voteID" value="@Model.issue.number" style="display:none;" /><br />
            <input type="text" name="appName" value="@ViewData["AppName"]" style="display:none;" /><br />
            <input type="submit" id="@Model.issue.number"/>
        }
    </div>
</div>


   @foreach (var issue in Model.comments)
   {
    <div id="newIssueBox">
        <div class="issueCard">
            <div class="rightCard">
                <div><b>Date Created: </b> @issue.createDate</div><br />
                <div><b>Comment: </b>@issue.body</div><br />
                <div><b>Author: </b>@issue.author</div><br /><br />
            </div>
         </div>
    </div>
    }
<br />
