@model FeedbackBot.Models.IssueDetailsViewModel

@{
    ViewData["Title"] = "Issue";
}

<h3>@ViewData["Message"]</h3>


@if (Model.VoteMessage != null)
{
    <div class="alert alert-info" role="alert">@Model.VoteMessage</div>
}
<br />
<center><a href="/app/@ViewData["AppName"]">Back</a></center>
<div class="commentWrapper">
    <div id="newIssueBox">
        <div class="commentIssue">
            <div class="rightCard">
                <h3 class="title">@Model.Issue.Title</h3>

                <div class="description">
                    <p class="user_name">by @Model.Issue.Author</p>
                    <br />

                </div>
                <div class="border-wrap">
                    <span>@Model.Issue.Body</span><br />
                </div>

                <div class="vote">
                    <p>
                        <b>Upvoted by:</b>
                        @Model.Issue.StringOfVoters
                    </p>
                    <br>
                    <div class="voteButton">
                        @using (Html.BeginForm("vote", "Home"))
                        {
                            <input type="text" class="voteID" name="voteID" value="@Model.Issue.Number" style="display:none;" />
                            <input type="text" name="appName" value="@ViewData["AppName"]" style="display:none;" />
                            <input type="submit" class="buttonID" value="@Model.Issue.VoteState" id="@Model.Issue.Number" />

                        }
                        <p class="voteNum"> | </p>
                        <p class="voteNum">@Model.Issue.NumOfVotes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="newCommentBox">
    <h4>Submit New Comment</h4><br />
    <div class="commentCard">
        @using (Html.BeginForm("addComment", "Home"))
            {
            <textarea placeholder="Type your comment here" id="descriptionTextBoxComment" type="text" name="comment" value="@Model.Issue.Number" class="commentBox"></textarea> <br>
            <button type="submit" id="@Model.Issue.Number">Submit</button>
            <input type="text" class="voteID" name="voteID" value="@Model.Issue.Number" style="display:none;" /><br />
            <input type="text" name="appName" value="@ViewData["AppName"]" style="display:none;" /><br />
        }
    </div>
</div>

<div class="currentComment">
    @foreach (var comment in Model.Comments)
    {
        <div id="newIssueBox">
            <div class="issueComment">
                <div class="rightCard">
                    <div><b>Date Created: </b> @comment.CreateDate</div><br />
                    <div><b>Comment: </b>@comment.Body</div><br />
                    <div><b>Author: </b>@comment.Author</div><br /><br />
                </div>
            </div>
        </div>
    }
    <br />
</div>
