@model FeedbackBot.Controllers.HomeController.issueDetailsViewModel

@{
    ViewData["Title"] = "Issue";
}
<h3>@ViewData["Message"]</h3>



<div id="newIssueBox">
    <div class="issueCard">
<div class="leftCard">
  <!-- <img class= "leftCols"  src="~/media/lefthand.svg" alt=""> -->
</div>
<div class="rightCard">
    <h3 class="title">@Model.issue.title</h3>
    <div class="border-wrap">
      <div class="description">
      <div class="user">
        <img class = "user_photo" src="media/empty_user.png">
        <div class="userWritten">
          <p class = "user_name">Cal Doval </p>
          <p>Written 10 hours ago </p>
        </div>
      </div>
      </div>
        <span>@Model.issue.body</span><br />
      </div>

    <div class="vote">
    <p><b>Upvoted by:</b>
    @Model.issue.stringOfVoters</p>

    <div class="voteButton">
    @using (Html.BeginForm("vote", "Home"))
    {
        <input type="text" class="voteID" name="voteID" value="@Model.issue.number" style="display:none;" />
        <input type="submit" class="buttonID" value="@Model.issue.voteState" id="@Model.issue.number" />
    }
    <p class="voteNum"> | </p>
    <p class="voteNum">@Model.issue.numOfVotes</p>
    </div>
    <a class="goComments" href="/issues/@Model.issue.number">comments</a>
    </div>
</div>
</div>
</div>

<div id="newCommentBox">
    <h4>Submit New Comment</h4><br />
    <div class="commentCard">
        @using (Html.BeginForm("addComment", "Home"))
        {
          <textarea placeholder="Type your comment here" id="descriptionTextBox" type="text" name="comment" value="@Model.issue.number"></textarea> <br>
          <button type="submit" id="@Model.issue.number">Submit</button>
            <b>Comment:</b><input type="text" name="comment" /><br />
            <input type="text" class="voteID" name="voteID" value="@Model.issue.number" style="display:none;" /><br />
            <input type="submit" id="@Model.issue.number"/>
        }
    </div>
</div>


   @foreach (var issue in Model.comments)
   {
    <div id="newIssueBox">
        <div class="issueCard">
            <div class="rightCard">
                <div><b>Date Created: </b> @issue.createDate</div><br />
                <div><b>Comment: </b>@issue.body</div><br />
                <div><b>Author: </b>@issue.author</div><br /><br />
            </div>
         </div>
    </div>
    }
<br />
