@model IReadOnlyList<FeedbackBot.Models.IssueContainer>

@foreach (var issue in Model)
{
    <div class="issueCard">
        <div class="leftCard">
            <!-- <img class= "leftCols"  src="~/media/lefthand.svg" alt=""> -->
        </div>
        <div class="rightCard">
            <a href="/issues/@ViewData["AppName"]/@issue.Number"><h3 class="title">@issue.Title</h3></a>
            <div class="user">
                <div class="userWritten">
                    <p class="user_name"><b>by</b> @issue.Author</p>
                    <!-- should also include date/time stamp -->
                </div>
            </div>
            <div class="border-wrap">
                <div class=" description">
                    <span>@issue.Body</span><br />
                </div>
            </div>

            <div class="vote">
                <p>
                    <b>Upvoted by:</b>
                    @issue.StringOfVoters
                </p>
                <br>
                <div class="voteSection">
                    <div class="voteButton">
                        @using (Html.BeginForm("vote", "Home"))
                        {
                            <input class="voteID" name="voteID" value="@issue.Number" type="hidden" />
                                <input name="appName" value="@ViewData["AppName"]" type="hidden" />
                                <input type="submit" class="buttonID" value="@issue.VoteState" id="@issue.Number" />
                        }
                        <p class="voteNum"> | </p>
                        <p class="voteNum">@issue.NumOfVotes</p>
                    </div>
                    <a href="/issues/@ViewData["AppName"]/@issue.Number"><button> comments (@issue.NumOfComments)</button></a>
                </div>
            </div>

        </div>
    </div>
}
