@model IReadOnlyList<FeedbackBot.Controllers.HomeController.issuesContainer>
    @{
        ViewData["Title"] = "Home Page";
        <h3>@ViewData["Message"]</h3>
    }

<div>
    <div id="newIssueBox" >
        <h4>Submit New Feedback</h4>
        @using (Html.BeginForm("createIssue", "Home"))
        {
            <b>Title:</b><input type="text" name="title" /><br />
            <b>Description:</b><input id="descriptionTextBox" type="text" name="description" /><br />
            <input type="submit" />
        }
    </div>

        @foreach (var issue in Model)
        {
            <div class="issueCard">
                <div class="leftCard">
                    <div class="voteBox">
                        <p>@issue.numOfVotes</p>

                    </div>
                    <div class="voteButton">
                    @using (Html.BeginForm("vote", "Home"))
                    {
                        <input type="text" class="voteID" name="voteID" value="@issue.number" style="display:none;" /><br />
                        <input type="submit" value="Vote" id="@issue.number" />
                    }
                    </div>
                </div>
                <div class="rightCard">
                    <p class="title">@issue.title</p>
                    <div class="description">
                        <span>@issue.body</span><br />
                        <span>@issue.listOfVoters</span>
                    </div>
                </div>
            </div>
        }
</div>
