<div class="bodyDiv">
@model IReadOnlyList<FeedbackBot.Controllers.HomeController.issuesContainer>
    @{
        ViewData["Title"] = "Home Page";
        <h3 class="pageTitle">@ViewData["Message"]</h3>
    }
    <div id="newIssueBox" >
        @using (Html.BeginForm("createIssue", "Home"))
        {
            <div class="user">
              <img class = "user_photo" src="media/empty_user.png">
              <p class = "user_name">Cal Doval </p>
            </div>
            <input type="text" id="title-input" placeholder="Title" name="title" />
            <textarea placeholder="Type your feedback here" id="descriptionTextBox" type="text" name="description"></textarea> <br>
            <button type="submit">Submit</button>
        }
    </div>

        @foreach (var issue in Model)
        {
            <div class="issueCard">
                <div class="leftCard">
                  <!-- <img class= "leftCols"  src="~/media/lefthand.svg" alt=""> -->
                </div>
                <div class="rightCard">
                    <h3 class="title">@issue.title</h3>
                    <div class="border-wrap">
                      <div class="description">
                      <div class="user">
                        <img class = "user_photo" src="media/empty_user.png">
                        <div class="userWritten">
                          <p class = "user_name">Cal Doval </p>
                          <p>Written 10 hours ago </p>
                        </div>
                      </div>
                      </div>
                        <span>@issue.body</span><br />
                      </div>

                    <div class="vote">
                    <p><b>Upvoted by:</b>
                    @issue.stringOfVoters</p>

                    <div class="voteButton">
                    @using (Html.BeginForm("vote", "Home"))
                    {
                        <input type="text" class="voteID" name="voteID" value="@issue.number" style="display:none;" />
                        <input type="submit" class="buttonID" value="@issue.voteState" id="@issue.number" />
                    }
                    <p class="voteNum"> | </p>
                    <p class="voteNum">@issue.numOfVotes</p>
                    </div>
                    <a class="goComments" href="/issues/@issue.number">comments</a>
                    </div>
                </div>
            </div>
        }
</div>
